/***********************/
/* Site-Wise Variables */
.brand-font {
  font-family: 'Walter Turncoat', cursive;
}
.zoom {
  transition: transform .2s; /* Animation */
}
.zoom:hover {
    transform: scale(1.1); 
}


/****************/
/* Public Pages */

/* Home Page | Landing Page */
.home.container-fluid,
.signup.container-fluid,
.not-found-404.container-fluid {
  padding: 0;
}

.home .site-title,
.signup .site-title,
.not-found-404 .site-title {
  font-size: 40px;
  background: #5DADE2;
  padding: 5px 10px;
  color: #212F3D;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 6px -6px black;
}

@media (min-width: 768px) {
  .home .site-title,
  .signup .site-title,
  .not-found-404 .site-title {
    font-size: 50px;
  }
}

.home .site-title .site-logo,
.signup .site-title .site-logo,
.not-found-404 .site-title .site-logo {
  width: 80px;
  opacity: 0.7;
  margin-right: 5px;
}

.home .site-title-2,
.signup .site-title-2,
.not-found-404 .site-title-2 {
  background: #5DADE2;
  padding: 10px 10px 5px;
  color: #212F3D;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
}
@media (min-width: 768px) {
  .home .site-title-2,
  .signup .site-title-2,
  .not-found-404 .site-title-2 {
    font-size: 20px;
  }
}
.home .main-image,
.signup .main-image,
.not-found-404 .main-image {
  background-image: url('/images/anime_school.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}

.home .main-image-wrapper,
.signup .main-image-wrapper,
.not-found-404 .main-image-wrapper {
  overflow: hidden;
}

.home .app-info,
.signup .app-info,
.not-found-404 .app-info {
  text-align: center;
  padding: 10px;
}

.home .row,
.signup .row,
.not-found-404 .row {
  margin: 25px 0;
}

.home .zoom-wrapper {
  position: relative;
  border: 1px solid #2E86C1;  
  max-width: 100%;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .home .signup-img::before {
    content: ' ';
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all .2s; /* Animation */
  }
  .home .signup-img:hover::before{
    opacity: 0.1;
  }
  .home .teacher-signup .signup-img::before {
    content: 'Teachers';
  }
  .home .parents-signup .signup-img::before {
    content: 'Parents';
  }  
}


.home .signup-img {
  width: 350px;
  height: 350px;
}
.home .signup-block {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
@media (min-width: 992px) {
  .home .signup-block.teacher-signup {
    align-items: flex-end;
  }
  .home .signup-block.parent-signup {
    align-items: flex-start;
  }
}

.home .teacher-signup .signup-img {
  background-image: url('/images/teacher.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}
.home .parents-signup .signup-img {
  background-image: url('/images/parent.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.home h1, 
.signup h1,
.not-found-404 h1 {
  margin-top: 0;
}

.home footer,
.signup footer,
.not-found-404 footer {
  text-align: center;
  min-height: 120px;
  background-color: white;
  margin-top: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}

.home footer img.footer-chars,
.signup footer img.footer-chars,
.not-found-404 footer img.footer-chars {
  position: relative;
  left: 0;
  width: 100vw;
  z-index: 0;
  display: none;
}
@media (min-width: 576px) {
  .home footer img.footer-chars,
  .signup footer img.footer-chars,
  .not-found-404 footer img.footer-chars {
    display: block;
  }
}
.home footer img.mobile-footer-chars,
.signup footer img.mobile-footer-chars,
.not-found-404 footer img.mobile-footer-chars {
  position: relative;
  left: 0;
  width: 100vw;
  z-index: 0; 
  display: block;
}
@media (min-width: 576px) {
  .home footer img.mobile-footer-chars,
  .signup footer img.mobile-footer-chars,
  .not-found-404 footer img.mobile-footer-chars {
    display: none;
  }
}

.home footer .fa-facebook-square,
.home footer .fa-twitter-square,
.home footer .fa-github-square,
.signup footer .fa-facebook-square,
.signup footer .fa-twitter-square,
.signup footer .fa-github-square,
.not-found-404 footer .fa-facebook-square,
.not-found-404 footer .fa-twitter-square,
.not-found-404 footer .fa-github-square {
  font-size: 35px;
  margin: 0 5px;
}
@media (min-width: 1200px) {
  .home footer .fa-facebook-square,
  .home footer .fa-twitter-square,
  .home footer .fa-github-square,
  .signup footer .fa-facebook-square,
  .signup footer .fa-twitter-square,
  .signup footer .fa-github-square,
  .not-found-404 footer .fa-facebook-square,
  .not-found-404 footer .fa-twitter-square,
  .not-found-404 footer .fa-github-square {
    font-size: 45px;
    margin: 0 5px;
  }
}

.home footer .contact-info,
.signup footer .contact-info,
.not-found-404 footer .contact-info {
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: auto;
}
@media (min-width: 992px) {
  .home footer .contact-info,
  .signup footer .contact-info,
  .not-found-404 footer .contact-info {
    top: 20px
  }
}

.home footer .footer-wrapper,
.signup footer .footer-wrapper,
.not-found-404 footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.home footer a,
.signup footer a,
.not-found-404 footer a {
  color: #154360;
  transition: all .2s; /* Animation */
  box-shadow: 0 8px 6px -7px black;
}
.home footer a:hover,
.home footer a:focus,
.signup footer a:hover,
.signup footer a:focus {
  color: chocolate;
}

.home footer .footer-wrapper .shareRow,
.signup footer .footer-wrapper .shareRow,
.not-found-404 footer .footer-wrapper .shareRow {
  margin: 10px 0;
}
.home footer .footer-wrapper .copyright,
.signup footer .footer-wrapper .copyright,
.not-found-404 footer .footer-wrapper .copyright {
  font-weight: bold;
}
@media (min-width: 1200px) {
  .home footer .footer-wrapper .copyright,
  .signup footer .footer-wrapper .copyright,
  .not-found-404 footer .footer-wrapper .copyright {
    font-size: 20px;
  }
}

.home .header .navbar,
.signup .header .navbar,
.not-found-404 .header .navbar {
  text-align: right;
  padding: 10px 20px;
}

.home .header .navbar button,
.signup .header .navbar button,
.not-found-404 .header .navbar button {
  width: 150px;
}

.home .header .navbar .loginBtn,
.signup .header .navbar .loginBtn {
  border-color: #5cb85c;
  color: #5cb85c; 
  font-weight: bold;
  background: transparent;
  transition: all .2s; /* Animation */
}
.home .header .navbar .loginBtn:hover,
.home .header .navbar .loginBtn:focus,
.home .header .navbar .loginBtn:active,
.signup .header .navbar .loginBtn:hover,
.signup .header .navbar .loginBtn:focus,
.signup .header .navbar .loginBtn:active {
  color: white;
  background: #5cb85c;
}

.home .header .navbar .logoutBtn,
.signup .header .navbar .logoutBtn {
  border-color: #dc3545;
  color: #dc3545; 
  font-weight: bold;
  background: transparent;
  transition: all .2s; /* Animation */
}
.home .header .navbar .logoutBtn:hover,
.home .header .navbar .logoutBtn:focus,
.home .header .navbar .logoutBtn:active,
.signup .header .navbar .logoutBtn:hover,
.signup .header .navbar .logoutBtn:focus,
.signup .header .navbar .logoutBtn:active {
  color: white;
  background: #dc3545;
}

.home .header .navbar-fixed-top,
.signup .header .navbar-fixed-top {
  position: absolute;
}

.signup .signup-input-label {
  display: none;
}
.signup .radio-wrapper {
  display: inline-block;
  margin: 20px;
  font-size: 15px;
  text-transform: uppercase;
}
.signup .signupBtn {
  width: 300px;
  height: 50px;
}
.signup .signup-instruction {
  text-align: center;
  margin: 40px 0;
}
.home .header a.goHome,
.signup .header a.goHome,
.not-found-404 .header a.goHome {
  text-decoration: none;
}

.home .header .dashboardBtn,
.signup .header .dashboardBtn,
.not-found-404 .header .dashboardBtn {
  left: 0;
  float: left;
  color: #0275d8;
  background: transparent;
  border-color: #0275d8;
  transition: all .2s; /* Animation */
}

.home .header .dashboardBtn:hover,
.home .header .dashboardBtn:active,
.home .header .dashboardBtn:focus,
.signup .header .dashboardBtn:hover,
.signup .header .dashboardBtn:active,
.signup .header .dashboardBtn:focus {
  background: #0275d8;
  color: white;
}

.home .signupBtn{
  width: 350px;
  text-transform: uppercase;
  height: 40px;
  transition: all .2s; /* Animation */
}

.home .signupBtn:hover {
  color: #419641;
  background: transparent;
  border-color: #419641;
}
.home .parents-signup .signupBtn:hover,
.home .parents-signup .signupBtn:active,
.home .parents-signup .signupBtn:focus {
  color: #2aabd2;
  background: transparent;
  border-color: #2aabd2;  
}
/* Signin Modal */
.login-modal .control-label {
  display: none;
}
.login-modal .modal-footer {
  display: none;
}
.login-modal .login-btn {
  width: 100%;
  height: 45px;
}
.login-modal .modal-title {
  font-family: 'Walter Turncoat', cursive;
  text-transform: uppercase;
  text-align: center;
}

.not-found-404.container-fluid {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}
.not-found-404 .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
@media(min-width: 992px) {
   .not-found-404 .main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } 
}
.not-found-404 .error-text {
  text-align: center;
  margin: 0;
}
@media (min-width: 992px) {
  .not-found-404 .error-text {
    text-align: left;
    margin: 20px;
  }
}
.not-found-404 .main-content p{
  font-size: 18px;
}
.not-found-404 .main-content .error-image {
  width: 400px;
  height: 50vh;
  background-image: url('/images/monkeyman.jpg');
  background-position: 50% 0;
  background-size: 100%;
}
/************/
/* My Pages */
.my .main-content {
  margin-left: 100px;
  padding: 20px 0;
}
.my .sub-title {
  text-transform: uppercase;
  font-family: 'Walter Turncoat', cursive;
}
.my .navbar-primary-menu .fa-home {
  font-size: 17px;
}
.my.main-nav-opened .main-content {
  /*margin-left: 240px;*/
}
.my.main-nav-opened .navbar-primary {
  background: rgba(0, 0, 0, 0.7);
}
.my .navbar-primary {
  position: fixed;
}
.hidden {
  display: none!important;
}
.error {
  color: red;
  font-weight: bold;
  text-align: center;
}
.success-message {
  color: green;
  font-weight: bold;
}
.navbar-primary-menu .nav-label {
  padding-left: 10px;
}
.main-content h1 {
  text-transform: uppercase;
}

.lesson-modal .modal-footer {
  display: none;
}

.page-loading,
.login-error {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-error .fa-eye-slash {
  font-size: 80px;
  margin-bottom: 10px;
}
.page-loading .fa-spinner {
  font-size: 70px;
  color: #5DADE2;
}

.my .message-view {
  position: relative;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 20px 15px;
  width: 95%;
  margin-top: 30px;
}
.my .message-view hr {
  margin-top: 5px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #eee;
}
.my .message-view .message-id {
  display: none;
}
.my .message-view .envalope {
  position: absolute;
  left: 0;
  top: -25px;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #aaa;
  font-size: 40px;
}
.my .message-view .envalope .fa {
  background-color: white;
}
.my .message-view .message-to-user,
.my .message-view .message-from-user{
  font-size: 20px;
}
.my .message-view .message-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.my .message-view .message-body p {
  white-space: pre-wrap;
}
.my .message-row .message-id {
  display: none;
}
.my .outbox .message-row .message-operation {
  display: none;
}
.my h1 {
  margin-bottom: 40px;
}

/* Manage Users Page */
.manage-users .back-to-classrooms-btn {
  border-color: chocolate;
  color: chocolate;
  background: transparent;
  font-weight: bold;
  text-transform: capitalize;
  transition: all .2s; /* Animation */
}
.manage-users .back-to-classrooms-btn:hover, 
.manage-users .back-to-classrooms-btn:active,
.manage-users .back-to-classrooms-btn:focus {
  color: white;
  background: chocolate;
}
.manage-users .inviteBtn {
  border-color: slateblue;
  color: slateblue;
  background: transparent;
  font-weight: bold;
  text-transform: capitalize; 
  transition: all .2s; /* Animation */
}
.manage-users .inviteBtn:hover,
.manage-users .inviteBtn:active,
.manage-users .inviteBtn:focus {
  color: white;
  background: slateblue;
}
.manage-users .users-in-classroom {
  width: 100%;
  border-radius: 5px;
  border: 1px solid cadetblue;
  padding: 10px;
  overflow: hidden;
  transition: all .2s; /* Animation */
}
@media (min-width: 768px) {
  .manage-users .users-in-classroom {
    width: 90%;
  }
}
.manage-users .users-in-classroom .user-row:nth-child(2n) {
  background-color: lightblue;
}
.manage-users .label-row {
  font-size: 18px;
  border-bottom: 1px solid;
  border-color: cadetblue;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.manage-users .invite-user-email {
  width: 300px;
  margin-right: 10px;
  padding: 5px 10px;
  max-width: 90%;
}
.manage-users .empty-classroom {
  padding: 0;
}
.manage-users .delete-user {
  color: red;
}

/* /my/class page */
.my.my-class .panel-heading h1 {
  margin-bottom: 0;
  font-family: 'Walter Turncoat', cursive;
}
.my .section-form {
  width: 100%;
}
@media (min-width: 768px) {
  .my .section-form {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .my .section-form {
    width: 85%;
  }
}
.my .section-form-wrapper {
  position: relative;
}
.my .section-form-wrapper .section-date {
  position: absolute;
  top: -50px;
  z-index: 1;
  left: 0;
  right: 0;
  display: inline;
  background: orchid;
  font-size: 17px;
  width: 150px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
.my .section-form-wrapper .panel-body p {
  margin: 0;
}
.lesson-modal .modal-title {
  font-family: 'Walter Turncoat', cursive;
  font-size: 20px;
}
.lesson-modal .control-label {
  text-align: left;
  margin: 0 0 5px 1px;
}
.lesson-modal .add-new-day {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
.lesson-modal .form-group {
  margin-bottom: 0;
}

.my .new-user {
  font-size: 18px;
}
.my .new-user .clippy {
  width: 50px;
  height: 100px;
  background-image: url('/images/clippy.png');
  background-position: 0 50%;
  background-size: cover;
  margin-bottom: 20px;
}
.my .message-inbox .message-success {
  font-weight: bold;
  color: green;
}
.my .message-inbox .error {
  text-align: left;
}
