/* Public Pages */

/* Home Page | Landing Page */
.home .main-jumbo {
  background-image: url('/images/class.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  border: 1px solid black; 
}

.home .test-bkg {
  background-image: url('/images/teacher.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  border: 1px solid black;  
  width: 400px;
  height: 400px;
}
.my .main-content {
  margin-left: 100px;
}
.my.main-nav-opened .main-content {
  margin-left: 240px;
}
.hidden {
  display: none!important;
}
.error {
  color: red;
  font-weight: bold;
}

.navbar-primary-menu .nav-label {
  padding-left: 10px;
}

.main-content {
  padding: 20px 0;
}
.main-content h1 {
  text-transform: uppercase;
}
