.section-date {
  text-align: center;
}

.section-form {
  position: relative;
  background: #89bbb8;
  border-radius: .4em;
  padding: 20px;
  margin: 0 0 40px 0;
}

.section-form:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #89bbb8;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.section-form .panel {
  box-shadow: 0 8px 6px -6px #1A5276;
}