.my-class .footer {
  position: fixed;
  background: rgba(133, 193, 233, 0.5);
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.my.my-class footer {
  display: none;
}
.my.my-class.isTeacher footer {
  display: block;
}
.my-class .footer .container {
  text-align: center;
}

.my-class .footer .addDayBtn {
  width: 200px;
  height: 50px;
}