.class-div .class-title {
  font-size: 15px;
}

.class-div {
  box-shadow: 0 8px 6px -6px #1d2967;
  border: 1px solid #196486;
  border-radius: 5px;
  margin: 10px 5px;
  height: 250px;
}

.class-div .thumbnail {
  border: 0;
}

.class-div .class-icon {
  margin: 10px 0;
  text-align: center;
}

.class-div .class-icon .fa {
  font-size: 40px;
}

.class-div .class-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0;
}

.class-div .class-info {
  text-align: center;
  margin: 20px 0;
}

.class-div .class-info .class-subject {
  margin: 0 10px;
}

.class-div .manageClassBtn {
  width: 100%;
  height: 40px;
}