.class-div .class-title {
  font-size: 15px;
}

.class-div {
  box-shadow: 0 8px 6px -6px #1d2967;
  border: 1px solid #196486;
  border-radius: 5px;
  margin: 10px 5px;
  height: 250px;
  opacity: 1;
  transition: all .2s; /* Animation */
}

.isTeacher .class-div {
  height: 290px; 
}

.isDeleted.class-div {
  opacity: 0.2;
}
.isDeleted.class-div:before{
  content: "\f05e";
  font-family: FontAwesome;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.class-div .class-info .label {
  text-transform: capitalize;
}
.class-div .class-info .class-grade {
  margin: 0 5px;
}
.class-div .class-info .label-grade {
  background-color: #8E7FAC;
}

.class-div .thumbnail {
  border: 0;
  box-shadow: none;
}

.class-div .class-icon {
  margin: 10px 0;
  text-align: center;
}

.class-div .class-icon .fa {
  font-size: 40px;
}

.class-div .class-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0;
}

.class-div .class-info {
  text-align: center;
  margin: 20px 0;
}

.class-div .class-info .class-subject {
  margin: 0;
}

.class-div .manageClassBtn,
.class-div .deleteClassBtn {
  width: 100%;
  height: 40px;
}
.class-div .manageClassBtn {
  margin-bottom: 5px;
}